.ui-checkbox {
	width: 73%;
	margin-left: auto;
	margin-right: auto;
}

.btn-connect-twitter {
	width: 228px;
	margin-left: auto;
	margin-right: auto;
}

.settings-social-header {
	margin-left: 15px;
}

.settings-container {
	margin-top: 40px;
}

.settings-btn-save {
	margin-top: 150px;
}

.btn-custom {
	width: 228px;
	margin-left: auto;
	margin-right: auto;
}

.message-popup {
	position: fixed;
	top: 25px;
	width: 308px;
	left: 25px;
}

.message-area {
	height: 150px !important;
}